/* Reset some default styles for a cleaner look */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {
    background: yellow;
    color: black; /* Optional: you can also change the text color if needed */
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/Gilmer-Bold.woff2') format('woff2'),
         url('../fonts/Gilmer-Bold.woff') format('woff');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'PostBox';
    src: url('../fonts/PostBox-Regular.woff2') format('woff2'),
         url('../fonts/PostBox-Regular.woff') format('woff');
    font-weight: 400;
  }
  
  body {
    font-family: 'Gilmer', 'PostBox', 'ui-sans-serif', 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
    --tw-text-opacity: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: inherit;
    line-height: inherit;
}
/* Header styling */
header {
    padding: 20px;
    text-align: center;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.navbar .logo img {
    height: 40px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar .nav-links li {
    display: flex;
    align-items: center;
    letter-spacing: -0.025em;
    font-weight: 500;
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
}

.navbar .nav-links li button {
    background-color: #ffff00;
    color: #000;
    border: none;
    padding: 12px 21px;
    cursor: pointer;
    border-radius: 9999px;
    font-weight: 800;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease;
}

.navbar .nav-links li button:hover {
    background-color: #777;
}

.navbar .nav-links li button i {
    margin-left: 10px;
    transition: margin-left 0.3s ease;
}

.navbar .nav-links li button:hover i {
    margin-left: -10px;
}
i.fa-solid.fa-arrow-right {
    background-color: #ffff00;
    color: #000;
    border: none;
    padding: 12px 14px;
    cursor: pointer;
    border-radius: 9999px;
    font-weight: 800;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
/* Dropdown Content */

.nav-links li:hover .dropdown-content {
    display: flex;
}
.show {
    display: flex !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    color: white;
    width: 1000px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    flex-direction: row;
    padding: 20px;
}

.dropdown-column {
    flex: 1;
    margin-right: 20px;
}

.dropdown-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.dropdown-section i {
    margin-right: 10px;
    font-size: 24px;
}

.column-title {
    color: yellow;
    margin-bottom: 10px;
}

.dropdown-column ul {
    list-style: none;
    padding: 0;
}

.dropdown-column li {
    margin-bottom: 10px;
}

.dropdown-column a {
    color: white;
    text-decoration: none;
}

.dropdown-column a:hover {
    text-decoration: underline;
}












.content-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}

.left-side-box {
    width: 48%;
    padding: 50px;
    background-color: #ffff00;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.right-side-box{
    width: 48%;
    padding: 50px;
    background-color: #ffff00;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 20%;
}
.image-container {
    display: flex;
    justify-content: space-between;
}

.image-item {
    width: 48%;
    text-align: center;
}

.image-item img {
    width: 47%;
    height: auto;
    border-radius: 8px;
}

h1 {
    color: #000;
    margin-bottom: 30px;
    margin-top: 20%;
    font-size: 2.813rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.025em;
}

p {
    color: #000;
    margin-top: 35px;
}












.card-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.card {
    width: 48%;
    padding: 50px;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.card h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.card ul li {
    margin-bottom: 10px;
    color: #000;
    text-align: left;
    display: flex;
}

.card button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border-color: 1px solid #000;
    /* border: none; */
    padding-top: 0.625rem;
    line-height: 1.25;
    border-radius: 9999px !important;
    text-align: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-weight: 500;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
    width: 100%;
}

.card button:hover {
    background-color: #000;
    color: #fff;
}

@media (max-width: 480px) {
    .card {
        width: 102%;
        margin-top: 20px;
        padding: 15px;
    }
}








.icon-heading-section {
    padding: 20px;
    background-color: #000;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading-container h5 {
    margin: 0;
    font-size: 1.25rem;
}

.icons {
    display: flex;
    gap: 10px;
}

.icons i {
    font-size: 1.5rem;
    color: #007BFF;
    cursor: pointer;
}

.icons i:hover {
    color: #0056b3;
}